.pk-centered {
  margin: 0 auto;
  text-align: center;
  align-self: center;
}

.pk-grid {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.pk-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.pk-col {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.pk-col-row {
  flex-direction: row;
}


.pk-6 {
  width: 100%;
}

.pk-5 {
  width: 83.33334%;
}

.pk-4 {
  width: 66.6667%;
}

.pk-3 {
  width: 49.9999%;
}

.pk-2 {
  width: 33.3334%;
}

.pk-1 {
  width: 16.6667%;
}

.pk-w10 {
  width: 10%;
}

.pk-w20 {
  width: 20%;
}

.pk-w30 {
  width: 30%;
}

.pk-w40 {
  width: 40%;
}

.pk-w50 {
  width: 50%;
}

.pk-w60 {
  width: 60%;
}

.pk-w70 {
  width: 70%;
}

.pk-w80 {
  width: 80%;
}

.pk-w90 {
  width: 90%;
}

.pk-w100 {
  width: 100%;
}
