<header class="main-header">
  <article class="main-title">
    <header class="main-title">
      <nav id="top-bar">
        <a href="/" id="main-link" class="nav-link">Main</a>
        <a href="#about" class="nav-link mai-blue">About Me</a>
        <a href="#cd-timeline" class="nav-link mai-yellow">Career</a>
        <a href="#portfolio" class="nav-link mai-violet">Portfolio</a>
      </nav>
    </header>
  </article>
  <article class="main-article">
    <a href="/"><img src="assets/images/logo.png" class="logo"/></a>
    <h1>Phoenix Framework</h1>
    <h2 id="text-title">Make the web beautiful.</h2>
    <section class="btn-group">
      <button class="btn-rounded list mai-red" id="companies"><a href="https://twitter.com/Elenarcolepsia">Twitter</a></button>
      <button class="btn-rounded list mai-orange" id="blogs"><a href="https://github.com/elenatorro">GitHub</a></button>
      <button class="btn-rounded list mai-violet" id="tools"><a href="https://es.linkedin.com/in/elenatorro/">LinkedIn</a></button>
    </section>
  </article>
</header>
