<!DOCTYPE html5>
<html5>
<head>
  <title>Phoenix Framework - Downloads</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../dist/src/phoenixfw.css">
  <link rel="icon" type="image/png" href="../assets/images/phoenix_light.png">
</head>
<body id="page-body">
  <header class="main-header bg-blue7">
    <article class="main-title">
      <header class="main-title">
        <nav id="top-bar" class="bg-blue7">
          <ul class="nav">
            <li><a href="../index.html">Main</a></li>
            <li><a href="../index.html#components">Components</a></li>
            <li><a href="../views/about.html">About</a></li>
            <li><a href="../views/templates.html">Templates</a></li>
            <li><a href="../views/downloads.html">Downloads</a></li>
          </ul>
        </nav>
      </header>
    </article>
    <div class="main-container">
      <section class="grid group">
        <div class="col six">
          <a href="../index.html"><img src="../assets/images/phoenix_light.png" class="normal-logo"/></a>
          <h2>Downloads</h2>
          <h3 class="font-red12">* This framework is still under construction, any feedback is very welcome :)</h3>
        </div>
      </section>
    </div>
  </header>
  <div class="container separate">
  </div>
  </body>
</html5>