<!DOCTYPE html5>
<html5>
<head>
  <title>Phoenix Framework - Templates</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../assets/styles/general/style.css">
  <link rel="icon" type="image/png" href="../assets/images/phoenix_light.png">
</head>
<body id="page-body">
  <header class="main-header">
    <article class="main-title">
      <header class="main-title">
        <nav id="top-bar">
          <a href="../index.html" id="main-link" class="nav-link">Main</a>
          <a href="../index.html#components" class="nav-link">Components</a>
          <a href="../views/about.html" class="nav-link">About</a>
          <a href="../views/templates.html" class="nav-link">Templates</a>
          <a href="../views/downloads.html" class="nav-link">Downloads</a>
        </nav>
      </header>
    </article>
    <div class="main-container">
      <section class="grid group">
        <div class="col six">
          <a href="../index.html"><img src="../assets/images/phoenix_light.png" class="normal-logo"/></a>
          <h2 class="text-left">Templates</h2>
          <h3 class="font-red12 text-left">* This framework is still under construction, any feedback is very welcome :)</h3>
        </div>
      </section>
    </div>
  </header>
  <div class="container separate">
  Don't worry, there will be available templates soon. Meanwhile, you can check the following websites, built using this framework:
  <ul class="arrow">
  <li><a href="https://elenatorro.github.io" target="_blank">elenatorro.com</a></li>
  <li><a href="https://uxsuite.me" target="_blank">uxsuite.me</a></li>
  </ul>
  </div>
  </body>
</html5>