@import url(http://fonts.googleapis.com/css?family=Quicksand|Nova+Flat|Open+Sans);
/*Import from general*/
/*BASIC COLORS*/
/*purple*/
/*green*/
/*orange*/
/*red*/
/*marine*/
/* MAI theme*/
/* MAIN COLORS */
/*BODY COLORS*/
/*LINK COLORS*/
.mai-violet {
  background-color: #A70267; }

.mai-red {
  background-color: #F10C49; }

.mai-orange {
  background-color: #FB6B41; }

.mai-yellow {
  background-color: #efb70a; }

.mai-blue {
  background-color: #339194; }

.yellow {
  background-color: #F5D76E;
  border-color: #F5D76E; }

.blue {
  background-color: #52B3D9;
  border-color: #52B3D9; }

.red {
  background-color: #F62459;
  border-color: #F62459; }

.green {
  background-color: #66CC99;
  border-color: #66CC99; }

.black {
  background-color: #1A1A1A;
  border-color: #1A1A1A;
  color: white; }

.white {
  background-color: white;
  border-color: white;
  color: black; }

.orange-dark {
  background-color: #993D00; }

.orange-medium {
  background-color: #FF6600; }

.orange-light {
  background-color: #FF8533; }

/*NAV SIZES*/
/*SECTION SIZES*/
h1 {
  font-family: 'Quicksand';
  font-size: 5em;
  margin: 0;
  color: white; }

h2 {
  font-family: 'Quicksand';
  font-size: 2em;
  margin: 0;
  color: white; }

h3 {
  font-family: 'Quicksand';
  font-size: 1.7em; }

h4 {
  font-family: 'Open Sans';
  font-size: 1.3em; }

h5 {
  font-family: 'Open Sans';
  font-size: 1em; }

h6 {
  font-family: 'Open Sans';
  font-size: 0.2em; }

a {
  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: 100; }

button {
  font-size: 1em; }

body {
  font-family: 'Open Sans';
  font-size: 1em; }

p {
  font-family: 'Open Sans';
  font-size: 1em; }

.text-shadow {
  text-shadow: 1px 1px 0px #339194; }

html, button, input, select, body {
  width: 100%;
  margin: 0;
  display: block;
  overflow-x: hidden; }

hr {
  border-top: 1px solid silver;
  border: 2;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

/*  SECTIONS  */
.container {
  padding: 10px; }

.grid {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  background-color: blue; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before, .group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%; }

.span_5_of_6 {
  width: 83.06%; }

.span_4_of_6 {
  width: 66.13%; }

.span_3_of_6 {
  width: 49.2%; }

.span_2_of_6 {
  width: 32.26%; }

.span_1_of_6 {
  width: 15.33%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 {
    width: 100%; } }

/*HTML5 tags*/