$s-small-width: 100px;
$s-medium-width: 150px;
$s-big-width: 200px;

.pf-button {
  margin: 10px;
  border: none;
  display: inline-block;
  text-align: center;
  font-size: $pf-global-font-size;
}

.pf-button:focus {
  outline-style:none;
}

.pf-button:hover {
  //FIXME add pseudo element opacity
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
  filter: brightness(75%);
}

.filled {
  color: white;
}

.empty {
  border: 3px solid $pf-main-light;
  background-color: transparent;
  color: $pf-main-light;
}

.rounded {
  border-radius: 100px;
}
