$pf-code-color: map-get($colors, gray6);
$pf-code-font-size: $pf-global-font-size;

code > xmp {
  padding:          $pf-content-spacing;
  background-color: $pf-code-color;
  font-size:        $pf-code-font-size;
  margin:           0;
  overflow-x:       scroll;
}
