@media only screen and (max-width: 480px) {
  .col {  margin: 0; };
  .one, .two, .three, .four, .five, .six { width: 100%; }
}

@media only screen and (max-width: 600px) {
  .col-table {
    margin: 1% 0 1% 0%;
    width: 100%;
  }

  .col-form {
    width: 100%;
  }
}

@media only screen and (max-width: 735px) {
  .col-form {
    width: 100%;
  }
}
