.main-logo {
    color: $pf-main-medium;
    float: left;
    display: inline-block;
    vertical-align: middle;
}

.main-title {
  text-align: center;
}


.page-title {
  font-size: 2.5em;
}

.page-text-title {
  font-size: 2em;
}
