$pf-image-bordered-border-radius: 10px;

.pf-img {
  display: block;
  max-width: 100%;
}

.pf-img-bordered {//FIXME use variables
  border-bottom: $pf-image-bordered-border-radius solid $pf-main-dark;
  border-left: $pf-image-bordered-border-radius solid $pf-main-medium;
  border-radius: 50%;
  border-right: $pf-image-bordered-border-radius solid $pf-main-medium;
  border-top: $pf-image-bordered-border-radius solid $pf-main-dark;
  margin-top: 35px;
  min-width: 150px;
  width: 10%;
}

.pf-img-normal {
  border-radius: 50%;
  margin-top: 35px;
  min-width: 150px;
  width: 10%;
  margin: 0 auto 0 auto;
}

.pf-img-mini {
  display: inline-block;
  position: relative;
  width: 30px;
}

.pf-img-resource {
  vertical-align: middle;
  width: 150px;
}

.pf-img-mini-circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid $pf-main-light;
  display: inline-block;
  float: left;
  height: 50px;
  margin: 0 5px;
  overflow: hidden;
  width: 50px;
}

.pf-img-inner {
  width: 100%;
  overflow: hidden;
  position: absolute;
  padding: 0;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: transparent;
  z-index: -1;
}

.pf-img-cover {
  background-position: cover;
  background-repeat: no-repeat;
  background-origin: center;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.pf-img-featured {
  width: 90%;
  margin: 0 auto;
}

.pf-img-circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
