@media all and (max-width: 300px) {
    .pf-nav {
        position: static;
        margin-bottom: 10px;
    }

    .pf-nav-link-list {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .pf-nav-link {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .pf-nav-link-list:last-of-type  {
        border-bottom: none;
    }
}
