$pf-global-font-size: 1em;

body {
    font-size: $pf-global-font-size;
    font-family: $pf-primary-font;
}

button,
input,
select,
textarea,
code,
a,
p {
    font-size: $pf-global-font-size;
}

h1 {
    font-size: 5em;
    margin: 0;
    font-size: 400%;
}

h2 {
    font-size: 2em;
    margin: 0;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.6em;
}
