$pf-global-spacing:      50px;
$pf-content-spacing:     10px;
$pf-global-text-spacing: 5px;

button,
input,
textarea,
select {// FIXME
  display: block;
}

html,
body {
    width: 100%;
    margin: 0;
    display: block;
    overflow-x: hidden;
}
