.container {
  padding: 25px 5%;
}

.inner-container {
  padding: 10px 5%;
}

.full-container {
  margin: 0;
  width: 100%;
}

.centered {
  text-align: center;
  margin: 0 auto;
  float: inherit;
}

.grid {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
}

.padding {
  padding: 0 10px 0 10px;
}

.separate {
  margin-bottom: 20px;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.six {
  width: 100%;
}

.five {
  width: 83.33334%;
}

.four {
  width: 66.6667%;
}

.three {
  width: 50%;
}

.two {
  width: 33.3334%;
}

.one {
  width: 16.6667%;
}

@media only screen and (max-width: 480px) {
  .col {  margin: 0; };
  .one, .two, .three, .four, .five, .six { width: 100%; }
}

@media only screen and (max-width: 600px) {
  .col-table {
    margin: 1% 0 1% 0%;
    width: 100%;
  }

  .col-form {
    width: 100%;
  }
}

@media only screen and (max-width: 735px) {
  .col-form {
    width: 100%;
  }
}

