header.main-header {
  background-attachment: fixed;
  background-image: url('../images/routine.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $dark-gray;
}
