@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

h1 {font-family: 'Quicksand'; font-size: 5em; margin: 0; font-size: 400%;}
h2 {font-family: 'Quicksand'; font-size: 2em; margin: 0;}
h3 {font-family: 'Quicksand'; font-size: 1.7em;}
h4 {font-family: 'Open Sans'; font-size: 1.3em;}
h5 {font-family: 'Open Sans'; font-size: 1em;}
h6 {font-family: 'Open Sans'; font-size: 0.6em;}
input, select {font-family: 'Open Sans'; font-size: 1em;}
a  {font-family: 'Open Sans'; font-size: 1.0em; font-weight: 100;}
button {font-family: 'Open Sans'; font-size: 1em;}
body {font-family: 'Open Sans'; font-size: 1.0em;}
p {font-family: 'Open Sans'; font-size: 1.0em;}
strong { font-weight: bold; }

.text-shadow {
  text-shadow: 1px 1px 0px rgba(51,145,148, 1);
}

.page-title, .page-text-title {
	max-width: 80%;
	margin: 0 auto 0 auto;
}

.social-icons {
	font-size: 4em;
}