/*GENERAL LISTS*/
li {
	list-style-type: none;
}

ul.arrow li:before {
	content: "\2192 \0020";
}

ul.heart li:before {
	content: "\2665";
}
/*NAV LIST*/
nav.horizontal-nav > ul {
	float: right;
	right: 30px;
	margin-right: 20px;
	display: table;
	width: 20%;
}

nav.horizontal-nav > ul > li {
	display: table-cell;
	color: white;
	font-family: "Helvetica";
}