img.border-logo {
  border-bottom: 10px solid $main-dark;
  border-left: 10px solid $main-medium;
  border-radius: 50%;
  border-right: 10px solid $main-medium;
  border-top: 10px solid $main-dark;
  margin-top: 35px;
  min-width: 150px;
  width: 10%;
}

img.normal-logo {
  border-radius: 50%;
  margin-top: 35px;
  min-width: 150px;
  width: 10%;
}

img.mini-logo {
  display: inline-block;
  position: relative;
  width: 30px;
}

img.img-resource {
  vertical-align: middle;
  width: 150px;
}

img.mini-circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid $violet-light;
  display: inline-block;
  float: left;
  height: 50px;
  margin: 0 5px;
  overflow: hidden;
  width: 50px;
}

img.inner-image {
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  z-index: -1;
}

img.circular {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

