button:focus {
  outline-style:none;
}

.btn-squared {
  @include transition(0.15s);
  background-color: $main-light;
  border: none;
  border-bottom: 8px solid $main-dark;
  color: white;
  display: inline-block;
  margin: 10px 5px;
  max-width: 160px;
  min-width: 160px;
  padding: 15px;
}

.btn-squared:hover {
  border-bottom: 3px solid $main-dark;
  cursor: pointer;
  @include translateY(3px);
}

.btn-rounded {
  background-color: $mai-violet;
  border-radius: 160px;
  border: none;
  color: white;
  display: inline-block;
  margin: 10px;
  max-width: 160px;
  min-width: 160px;
  padding: 15px;
}

.btn-rounded > a {
  color: white;
}

.btn-small {
  border-radius: 100px;
  border: none;
  color: white;
  display: inline-block;
  margin: 10px;
  max-width: 100px;
  min-width: 100px;
  padding: 5px;
  text-align: center;
}

.btn-group {
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 0px;
  display: table;
}
