article.main-content {
  background-color: transparent;
  margin: 10 auto 10 auto;
  text-align: center;
  width: 100%;
}

.main-container {
  background-color: rgba($main-light,0.6);
  text-align: center;
  color: white;
  padding: 30px;
}

article.main-title {
  display: block;
  text-align: center;
}

.content-area {
  background-color: transparent;
  height: 50px;
  line-height: 50px;
  padding: 3px;
  padding: 5px;
  vertical-align: middle;
}

.content-padding-area {
  @extend .content-area;
  margin: 2px;
}

.box{
  position: relative;
}
.box:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.box > .box-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  > .box-inner-content {
    text-align: center;
    margin: 5px;
    margin-top: 25%;
  }
}