table {
  width: 95%;
  max-width: 100%;
  border: none;
  border-collapse: collapse;
  background-color: transparent;
  overflow-x: scroll;
  display: block;
}

td, th, tr {
  padding: 10px;
  width: 100%;
}

thead {
  text-align: left;
}

table > tbody, thead, tfoot {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
