article.main-content {
  background-color: transparent;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 100%;
}

article.main-article {
  background-color: rgba($blue,0.7);
  min-height: 90%;
  padding-top: 12%;
  text-align: center;
  color: white;
}

article.main-title {
  display: block;
  text-align: center;
}

.content-area {
  background-color: #E6E6E6;
  border-left: 5px solid $orange-light;
  height: 50px;
  line-height: 50px;
  padding: 3px;
  padding: 5px;
  vertical-align: middle;
}
