/*GENERAL LINKS*/
a {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: $main-light;
}

a.text-link {
	color: $main-medium;
}

a.text-link:hover {
	background-color: $main-dark;
	color: white;
}

section.resources > header > a {
	color: white;
}

section.resources > header > a:hover {
	color: $green-light;
	font-weight: bold;
}

a.btn-neutral {
	font-weight: normal;
}

a.btn-neutral:hover {
	color: black;
}

div.box > p.removeCard {
	display: inline-block;
	float: right;
	color: silver;
	width: 10px;
	height: 10px;
	line-height: 0;
}


div.box.black > p.removeCard {
	color: white;
}

div.box > p.removeCard:hover {
	cursor: pointer;
	color: silver;
}

div.social > a {
	color: $main-dark;
}


/*NAV LINKS*/
a.main-logo {
	color: $indigo;
	float: left;
	display: inline-block;
	vertical-align: middle;
	margin-top: $HEADER-NAV-HEIGHT / 2.5;
}
