header.main-header nav {
	width: 100%;
	text-align: right;
	float: right;
	position: fixed;
	opacity: 0.9;
	z-index: 100;
}

header.main-header nav > ul {
  list-style: none;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

header.main-header nav > ul > li > a {
	border: none;
	padding: 15px;
	color: white !important;
	text-decoration: none;
  	display: block;
}

header.main-header nav > ul > li > a:hover {
	 @extend .bg-hover-main;
	 @extend .font-hover-main;
}

header.main-header nav > ul > li > a:visited {
	 color: white;
}

#main-link {
	float: left;
}


@media all and (max-width: 600px) {
	.page-title {
		font-size: 2.5em; 
	}

	.page-text-title {
		font-size: 2em; 
	}

	header.main-header nav {
		position: static;
		margin-bottom: 10px;
	}

	header.main-header nav > ul {
	    -webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
	    padding: 0;
	}

	header.main-header nav > ul > li > a {
		text-align: center; 
    	padding: 10px;
    	border-top: 1px solid rgba(255,255,255,0.3); 
    	border-bottom: 1px solid rgba(0,0,0,0.1); 
	}

	header.main-header nav > ul > li:last-of-type  a {
		border-bottom: none;
	}
}
