.background-color-transition {
  transition-property: background-color;
  transition-duration: 1s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color;
  -o-transition-duration: 1s;
}

.background-size-transition {
  transition-property: background-size;
  transition-duration: 2s;
  -webkit-transition-property: background-size;
  -webkit-transition-duration: 2s;
  -o-transition-property: background-size;
  -o-transition-duration: 2s;
}

@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -o-transform: rotate($degree);
  -ms-transform: rotate($degree);
  transform:  rotate($degree);
}

@mixin transition-rotate($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transition($seconds) {
  -webkit-transition: $seconds ease-in-out;
  -moz-transition: $seconds ease-in-out;
  -o-transition: $seconds ease-in-out;
  -ms-transition: $seconds ease-in-out;
  transition: $seconds ease-in-out;
}

@mixin translateY($value) {
  -webkit-transform: translateY($value);
  -moz-transform: translateY($value);
  -o-transform: translateY($value);
  -ms-transform: translateY($value);
  transform:  translateY($value);
}

@mixin hoverborder() {
  border-bottom: 3px solid transparent;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow:$top $left $blur $color;
  -moz-box-shadow:$top $left $blur $color;
  box-shadow:$top $left $blur $color;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
