/*GENERAL LINKS*/
a {
	text-decoration: none;
	color: $main-medium;
}

a:active {
	color: $main-medium;
}

a:visited {
	color: $main-medium;
}

a:hover {
	color: $main-dark;
}

a.text-link:hover {
	background-color: $main-dark;
	color: white;
}

.tags > a {
	@extend .bg-main;
	padding: 1px 8px;
	border-radius: 10px;
	display: inline-block;
	margin: 1px;
	margin-top: 5px;
	color: black !important;
}

.social-icon {
	color: white !important;
	margin: 5px;
}

.social-icon:hover {
	color: $main-dark !important;
}

section.resources > header > a {
	color: white;
}

section.resources > header > a:hover {
	color: $main-light;
	font-weight: bold;
}

a.btn-neutral {
	font-weight: normal;
}

a.btn-neutral:hover {
	color: black;
}

div.box > p.removeCard {
	display: inline-block;
	float: right;
	color: silver;
	width: 10px;
	height: 10px;
	line-height: 0;
}


div.box.black > p.removeCard {
	color: white;
}

div.box > p.removeCard:hover {
	cursor: pointer;
	color: silver;
}

div.social > a {
	color: $main-dark;
}


/*NAV LINKS*/
a.main-logo {
	color: $main-medium;
	float: left;
	display: inline-block;
	vertical-align: middle;
}
