@import url(http://fonts.googleapis.com/css?family=Quicksand|Nova+Flat|Open+Sans);
h1 {font-family: 'Quicksand'; font-size: 5em; margin: 0; font-size: 400%;}
h2 {font-family: 'Quicksand'; font-size: 2em; margin: 0;}
h3 {font-family: 'Quicksand'; font-size: 1.7em;}
h4 {font-family: 'Open Sans'; font-size: 1.3em;}
h5 {font-family: 'Open Sans'; font-size: 1em;}
h6 {font-family: 'Open Sans'; font-size: 0.2em;}
a  {font-family: 'Open Sans'; font-size: 1.0em; font-weight: 100;}
button {font-size: 1em;}
body {font-family: 'Open Sans'; font-size: 1.0em;}
p {font-family: 'Open Sans'; font-size: 1.0em;}

.text-shadow {
  text-shadow: 1px 1px 0px rgba(51,145,148, 1);
}
