/*Feather Sections*/
section {
	display: block;
}

section.main-title {
  text-align: center;
}

section.resources > header {
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	background-color: $main-medium;
	margin: 0 auto;
	padding: 5px;
	color: white;
}

section.resources > header > h3 {
	position: absolute;
}

section.resources {
	display: inline-block;
	width: 100%;
	min-width: 300px;
	min-height: 200px;
	vertical-align: top;
	border-radius: 0px;
	margin-bottom: 10px;
	background-color: white;
	@include box-shadow(3px, 3px, 2px, rgba(0, 0, 0, 0.2));
	position: relative;
	margin-top: 80px;
}

section.resources > h4 {
	margin: 10px;
}

section.resources > h5 {
	color: yellow;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 5px;
	margin-bottom: 3px;
}

section.resources > h6 {
	margin: 10px;
	font-size: 1em;
}

section.resources > img {
	width: 100%;
}

section.paragraph {
	text-align: left;
	width: 70%;
	padding: 10px;
	background-color: white;
	margin: 0 auto 0 auto;
	font-size: 2em;
}

section.help {
	text-align: left;
	float: right;
	position: absolute;
	top: 0;
	width: 200px;
	margin: 0 auto 0 auto;
}
