html,
button,
input,
select,
body {
    width: 100%;
    margin: 0;
    display: block;
    overflow-x: hidden;
}

hr {
    border-top: 1px solid silver;
    border: 2;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

@mixin parallax($image_url) {
  background-attachment: fixed;
  background-image: url($image_url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
