html,
button,
input,
select,
body {
    width: 100%;
    margin: 0;
    display: block;
    overflow-x: hidden;
}

hr {
    border-top: 1px solid silver;
    border: 2;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

.cover-background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hidden {
  visibility: hidden;}

.main-content {
  background-color: transparent;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 100%; }

.main-container {
  background-color: $main-medium;
  text-align: center;
  color: white; }

  &.full-height-container {
    height: 100%;
  }
  
  .main-container > .grid.group > .col {
    margin-top: 15%; }

.main-title {
  display: block;
  text-align: center; }

@mixin parallax($image_url) {
  @extend .cover-background;
  background-image: url($image_url);
}
